<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:allowBackup="true" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" android:installLocation="internalOnly" package="com.vladlee.easyblacklist" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.vladlee.easyblacklist.CallsBlacklistApp" android:supportsRtl="true" android:theme="@style/Theme.MainTheme">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-6122218967681151~2550930981"/>
        <provider android:authorities="com.vladlee.easyblacklist.DataProvider" android:enabled="true" android:exported="false" android:grantUriPermissions="true" android:name="com.vladlee.easyblacklist.DataProvider"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:name="com.vladlee.easyblacklist.EasyBlacklistActivity" android:theme="@style/Theme.MainTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.vladlee.easyblacklist.ExportDataActivity">
            <intent-filter>
                <action android:name="com.vladlee.easyblacklist.action.EXPORT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.vladlee.easyblacklist.CheckPermissionsActivity" android:theme="@style/Theme.MainTheme.NoActionBar"/>
        <activity android:name="com.vladlee.easyblacklist.AddListActivity"/>
        <activity android:name="com.vladlee.easyblacklist.AddManuallyActivity"/>
        <activity android:name="com.vladlee.easyblacklist.AddTextFilterActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.vladlee.easyblacklist.WhitelistActivity" android:theme="@style/Theme.MainTheme.NoActionBar"/>
        <activity android:name="com.vladlee.easyblacklist.MutelistActivity"/>
        <activity android:name="com.vladlee.easyblacklist.SettingsActivity"/>
        <activity android:name="com.vladlee.easyblacklist.SmsChatActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.vladlee.easyblacklist.SmsSendMessageActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="smsto"/>
                <data android:scheme="sms"/>
                <data android:scheme="mmsto"/>
                <data android:scheme="mms"/>
            </intent-filter>
        </activity>
        <activity android:name="com.vladlee.easyblacklist.SmsNewMessageActivity" android:theme="@style/Theme.MainTheme.NoActionBar" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name="com.vladlee.easyblacklist.SmsShareViaActivity" android:theme="@style/Theme.MainTheme.NoActionBar" android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="true" android:name="com.vladlee.easyblacklist.CallReceiver" android:process=":blockService">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.vladlee.easyblacklist.BootReceiver" android:process=":blockService">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.vladlee.easyblacklist.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:name="com.vladlee.easyblacklist.BlockService" android:process=":blockService"/>
        <receiver android:enabled="@bool/hasKitKat" android:exported="true" android:name="com.vladlee.easyblacklist.SmsReceiverKitkat" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/preKitKat" android:exported="true" android:name="com.vladlee.easyblacklist.SmsReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/preKitKat" android:exported="true" android:name="com.vladlee.easyblacklist.SmsReceiverLowPriority" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.vladlee.easyblacklist.MmsReceiver" android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.vladlee.easyblacklist.SmsService" android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:name="com.vladlee.easyblacklist.ServiceRestarter" android:process=":blockService">
            <intent-filter>
                <action android:name="com.vladlee.actions.service_restart"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.ServiceStartHandler" android:process=":blockService"/>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.ServiceRestartHandler" android:process=":blockService"/>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.ServiceStartJob" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":blockService"/>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.ServiceRestartJob" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":blockService"/>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.CallBlockHandler" android:process=":blockService"/>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.DatabaseUpdateService"/>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.AlarmService" android:process=":blockService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.vladlee.easyblacklist.AlarmReceiver" android:process=":blockService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.vladlee.easyblacklist.TimeChangeReceiver" android:process=":blockService">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.vladlee.easyblacklist.CallFilteringService" android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.vladlee.easyblacklist.CallBlockHandlerDefPhoneApp"/>
        <service android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.vladlee.easyblacklist.crashlyticsinitprovider" android:exported="false" android:initOrder="90" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.vladlee.easyblacklist.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="com.vladlee.easyblacklist.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
    </application>
</manifest>