/applications/asus-callblock/com.asus.contacts.apk filter=lfs diff=lfs merge=lfs -text
/applications/callapp-contacts/com.callapp.contacts.apk filter=lfs diff=lfs merge=lfs -text
/applications/gogolook-callgogolook2/classes-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/applications/gogolook-callgogolook2/classes2-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/applications/gogolook-callgogolook2/gogolook.callgogolook2.apk filter=lfs diff=lfs merge=lfs -text
/applications/mrnumber-blocker/com.mrnumber.blocker.apk filter=lfs diff=lfs merge=lfs -text
/applications/privacystar-android/com.privacystar.android.spg.apk filter=lfs diff=lfs merge=lfs -text
/applications/tmobile-services/classes-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/applications/tmobile-services/com.tmobile.services.nameid.apk filter=lfs diff=lfs merge=lfs -text
/applications/webascender-callerid/com.webascender.callerid.apk filter=lfs diff=lfs merge=lfs -text
/applications/asus-callblock-DEPRECATED/com.asus.contacts.apk filter=lfs diff=lfs merge=lfs -text
/applications/gogolook-callgogolook2-DEPRECATED/classes-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/applications/gogolook-callgogolook2-DEPRECATED/classes2-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/applications/gogolook-callgogolook2-DEPRECATED/gogolook.callgogolook2.apk filter=lfs diff=lfs merge=lfs -text
/applications/mrnumber-blocker-DEPRECATED/com.mrnumber.blocker.apk filter=lfs diff=lfs merge=lfs -text
/applications/privacystar-android-DEPRECATED/com.privacystar.android.spg.apk filter=lfs diff=lfs merge=lfs -text
/applications/tmobile-services-DEPRECATED/classes-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/applications/tmobile-services-DEPRECATED/com.tmobile.services.nameid.apk filter=lfs diff=lfs merge=lfs -text
/candidate-apps/com.flexaspect.android.everycallcontrol.apk filter=lfs diff=lfs merge=lfs -text
/candidate-apps/com.mglab.scm.apk filter=lfs diff=lfs merge=lfs -text
/candidate-apps/com.telguarder.apk filter=lfs diff=lfs merge=lfs -text
/candidate-apps/com.truecaller.apk filter=lfs diff=lfs merge=lfs -text
/candidate-apps/com.unknownphone.callblocker.apk filter=lfs diff=lfs merge=lfs -text
/candidate-apps/org.mistergroup.shouldianswer.apk filter=lfs diff=lfs merge=lfs -text
/applications/belcontrol/com.flexaspect.android.everycallcontrol.apk filter=lfs diff=lfs merge=lfs -text
/applications/callblocker/com.unknownphone.callblocker.apk filter=lfs diff=lfs merge=lfs -text
/applications/callblocker/extracted-data/network/startup-and-settings.mitm filter=lfs diff=lfs merge=lfs -text
/applications/shouldianswer/extracted-data/network/startup.mitm filter=lfs diff=lfs merge=lfs -text
/applications/shouldianswer/org.mistergroup.shouldianswer.apk filter=lfs diff=lfs merge=lfs -text
/applications/stopmijbellen/com.mglab.scm.apk filter=lfs diff=lfs merge=lfs -text
/applications/telguarder/com.telguarder.apk filter=lfs diff=lfs merge=lfs -text
/applications/truecaller/com.truecaller.apk filter=lfs diff=lfs merge=lfs -text
/archived-apps/asus-callblock-DEPRECATED/com.asus.contacts.apk filter=lfs diff=lfs merge=lfs -text
/archived-apps/gogolook-callgogolook2-DEPRECATED/classes-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/archived-apps/gogolook-callgogolook2-DEPRECATED/classes2-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/archived-apps/gogolook-callgogolook2-DEPRECATED/gogolook.callgogolook2.apk filter=lfs diff=lfs merge=lfs -text
/archived-apps/mrnumber-blocker-DEPRECATED/com.mrnumber.blocker.apk filter=lfs diff=lfs merge=lfs -text
/archived-apps/privacystar-android-DEPRECATED/com.privacystar.android.spg.apk filter=lfs diff=lfs merge=lfs -text
/archived-apps/tmobile-services-DEPRECATED/classes-dex2jar.jar filter=lfs diff=lfs merge=lfs -text
/archived-apps/tmobile-services-DEPRECATED/com.tmobile.services.nameid.apk filter=lfs diff=lfs merge=lfs -text
/applications/stopmijbellen/extracted-data/database/DBMain.db filter=lfs diff=lfs merge=lfs -text
/applications/showcaller/Showcaller[[:space:]]Caller[[:space:]]ID[[:space:]]&[[:space:]]Block_2.2.5_apkcombo.com.apk filter=lfs diff=lfs merge=lfs -text
/applications/showcaller/com.allinone.callerid.apk filter=lfs diff=lfs merge=lfs -text
/applications/shouldianswer/extracted-data/files/cached filter=lfs diff=lfs merge=lfs -text
/dynamic-analysis/frida/frida-server-15.1.24-android-x86_64 filter=lfs diff=lfs merge=lfs -text
